<div class="medium-10 medium-centered large-10 large-centered columns">
  <div class="text-center">
    <section class="user-info">
      <h4>
        <%= @user.email %>
      </h4>
    </section>
    <section class="stats">
      <%= render 'stats' %>
    </section>
  </div>
  <div>
    <% if @events.any? %>
        <ul class="no-bullets events" style="list-style-type: none" %>
          <div class="pagination-style center-block">
            <%= will_paginate @events %>
          </div>
          <%= render @events %>
        </ul>

    <% end %>
  </div>
</div>