<%= form_for(current_user.attendance_relations.build, remote: true) do |f| %>
    <div><%= hidden_field_tag :attended_event_id, @event.id %></div>
    <%= f.submit 'Attend', class: 'rsvp button' %>
<% end %>