<h1>Events</h1>

<div>
  <%= will_paginate @events %>
  <ol class="events" %>
    <%= render @events %>
  </ol>
  <%= will_paginate @events %>
</div>

<br>

<%= link_to 'New Event', new_event_path %>
